<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://20487ja123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>20487ja123.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>20487ja123</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$20487ja123</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TravelCompanion" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:demo170206srv.database.windows.net,1433;Initial Catalog=BlueYonder.Companion.Lab07;Integrated Security=False;User ID=BlueYonder;Password=Pa$$w0rd;Connect Timeout=180;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BlueYonder.DataAccess.TravelCompanionContext, BlueYonder.DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BlueYonderFrequentFlyer" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:demo170206srv.database.windows.net,1433;Initial Catalog=BlueYonder.Companion.Lab07;Integrated Security=False;User ID=BlueYonder;Password=Pa$$w0rd;Connect Timeout=180;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BlueYonder.DataAccess.FrequentFlyersContext, BlueYonder.DataAccess" MigrationConfiguration="BlueYonder.DataAccess.Migrations.Configuration, BlueYonder.DataAccess" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlueYonderFrequentFlyer-Web.config Connection String">
      <ParameterValue>Data Source=tcp:demo170206srv.database.windows.net,1433;Initial Catalog=BlueYonder.Companion.Lab07;Integrated Security=False;User ID=BlueYonder;Password=Pa$$w0rd;Connect Timeout=180;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TravelCompanion-Web.config Connection String">
      <ParameterValue>Data Source=tcp:demo170206srv.database.windows.net,1433;Initial Catalog=BlueYonder.Companion.Lab07;Integrated Security=False;User ID=BlueYonder;Password=Pa$$w0rd;Connect Timeout=180;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BlueYonderFrequentFlyer" />
  </ItemGroup>
</Project>